/* @import "tailwindcss"; */
:root{
    --bg: #222;
    --bgi: #ddd;
    --color: blue;
}

$bg : #222;
$bgi: #ddd;
$color:blue;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    background-color: $bg;
    color: $bgi;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
}

select{
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    background-color: $bgi;
    font-size: 1rem;
}

button{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: 1px solid $bgi;
    background-color: $bg;
    color: $bgi;
    animation: faden 5s infinite forwards;
}

@keyframes faden {
    0%, 100%,20%,80%{
        box-shadow: 0 0 2rem $bg, 0 0 1rem $bgi;
    }
    50%{
        box-shadow: none;
    }
    
}